<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>Climate Disasters</title>

<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v0.42.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.42.0/mapbox-gl.css' rel='stylesheet' />

<style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:240; bottom:0; width:100%; }
  .legend {
    background-color: #fff;
    border-radius: 3px;
    bottom: 30px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.10);
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    position: absolute;
    right: 10px;
    z-index: 1;
  }

  .legend h4 {
      margin: 0 0 10px;
  }

  .legend div span {
      border-radius: 50%;
      display: inline-block;
      height: 10px;
      margin-right: 5px;
      width: 10px;
  }

</style>
</head>
<body>

<div id="inputDiv" class="row" style="background-color:lightblue">
  <div class="col-xs-2"></div>
  <div class="col-xs-8">
    <br>
    <h2>Welcome to the Climate Disaster Interface!</h2>
    <h3> Here you can visualize the frequency of different types of natural disasters, as tracked by FEMA, between 1953 and 2018.</h3>
    <h4>Choose a date range, in years, by which to filter the data, as well the type of disaster.</h4>
    <form name="inputs" id="inputs">
      <label for="begin-year">Beginning range</label>
      <input type="number" id="begin" name="begin" min="1953" max="2018" value="1953">
      <input type="number" id="end" name="end" min="1953" max="2018" value="2018" required>
      <select name="type-of-disaster" id="type-of-disaster">
        <option value="Chemical">Chemical</option>
        <option value="Coastal Storm">Coastal Storm</option>
        <option value="Dam/Levee Break">Dam/Levee Break</option>
        <option value="Drought">Drought</option>
        <option value="Earthquake">Earthquake</option>
        <option value="Fire">Fire</option>
        <option value="Fishing Losses">Fishing Losses</option>
        <option value="Flood">Flood</option>
        <option value="Freezing">Freezing</option>
        <option value="Human Cause">Human Cause</option>
        <option value="Hurricane">Hurricane</option>
        <option value="Mud/Landslide">Mud/Landslide</option>
        <option value="Other">Other</option>
        <option value="Severe Ice Storm">Severe Ice Storm</option>
        <option value="Severe Storm(s)">Severe Storm(s)</option>
        <option value="Snow">Snow</option>
        <option value="Tornado">Tornado</option>
        <option value="Toxic Substances">Toxic Substances</option>
        <option value="Tsunami">Tsunami</option>
        <option value="Typhoon">Typhoon</option>
        <option value="Volcano">Volcano</option>
      </select>
      <input id="submit" type="button" value="Submit">
    </form>
   <br><br><br>
  </div>
  <div class="col-xs-2"></div>
</div>
<div id="map" style="width: 800; height: 540px;" align="justify"></div>
<div id='state-legend' class='legend'>
    <h4>Climate Incidents per state</h4>
    <div><span style='background-color: #990024'></span>1000+</div>
    <div><span style='background-color: #990057'></span>500-999</div>
    <div><span style='background-color: #8F0099'></span>400-499</div>
    <div><span style='background-color: #5C0099'></span>300-399</div>
    <div><span style='background-color: #290099'></span>200-299</div>
    <div><span style='background-color: #003E99'></span>100-199</div>
    <div><span style='background-color: #0058B3'></span>75-99</div>
    <div><span style='background-color: #0071CC'></span>50-74</div>
    <div><span style='background-color: #0A8BE6'></span>40-49</div>
    <div><span style='background-color: #23A4FF'></span>30-39</div>
    <div><span style='background-color: #3DBEFF'></span>20-29</div>
    <div><span style='background-color: #56D7FF'></span>10-19</div>
    <div><span style='background-color: #F3FFFF'></span>1-9</div>
    <div><span style='background-color: black'></span>0</div>
</div>

<script type=text/javascript src="./us-states.js"></script>

<script>
//TO DO: put accessToken into environment as variable and access through os so it doesn't get checked in publically.
  mapboxgl.accessToken = 'pk.eyJ1IjoiY2Fwcmlwb3QiLCJhIjoiY2pjMDJqcDhsMDQ2MzJ4bW85MTR0YXBzYiJ9.Ag9mIZTDONNN9JdN2kW76g';
  var map = new mapboxgl.Map({
    container: 'map',
    maxZoom: 5.5,
    minZoom: 1.8,
    style: 'mapbox://styles/mapbox/light-v9',
    center: [-100.00, 42.00],
    zoom: 2.0
  });

  map.on('load', function () {

    var layers = map.getStyle().layers;

    // Find the index of the first symbol layer in the map style
    var firstSymbolId;
    for (var i = 0; i < layers.length; i++) {
        if (layers[i].type === 'symbol') {
            firstSymbolId = layers[i].id;
            break;
        }
    }
    //uses numIncidents property on statesData to determnine layer color
    var statesLayer = map.addLayer({
          'id': 'us-states',
          'type': 'fill',
          'source': {
            type: 'geojson',
            data: statesData
          },
          'paint': {
            'fill-color': {
              property: 'numIncidents',
              stops: [
                  [0, '#F3FFFF'],
                  [10, '#56D7FF'],
                  [20, '#3DBEFF'],
                  [30, '#23A4FF'],
                  [40, '#0A8BE6'],
                  [50, '#0071CC'],
                  [75, '#0058B3'],
                  [100, '#003E99'],
                  [200, '#290099'],
                  [300, '#5C0099'],
                  [400, '#8F0099'],
                  [500, '#990057'],
                  [1000, '#990024']
              ]
            },
            'fill-opacity': 0.75
          }
        }, firstSymbolId);
    })

  //ajax call to api, then rerender map with layers based on new data as part of callback
  $('#submit').on('click', function(){
    // window.theInputs = $('#inputs');      
    // console.log( $('#inputs').serializeArray() );

    $.get('/api-call?' + $.param($('#inputs').serializeArray()), function(data, status){
      
      //window.theData = data;
      console.log("Data coming back from api call: " + data + "\nStatus: " + status);
      //function to take the data we got back from the api call and plug incidents number into statesData as new property called numIncidents
      for (var i = 0; i < statesData['features'].length; i ++ ){
        feature = statesData['features'][i];
        var stateName = feature.properties.name;
        feature.properties.numIncidents = data[stateName];
      }
      //rerenders map with updated statesData for layers
      map.getSource("us-states").setData(statesData);
    });
  }); 
 
</script>


</body>
</html>
