<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>Climate Disasters</title>

<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v0.42.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.42.0/mapbox-gl.css' rel='stylesheet' />

<style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:240; bottom:0; width:100%; }
</style>
</head>
<body>

<div id="inputDiv" class="row" style="background-color:lightblue">
  <div class="col-xs-2"></div>
  <div class="col-xs-8">
    <br>
    <h2>Welcome to the Climate Disaster Interface!</h2>
    <h3> Here you can visualize the frequency of different types of natural disasters, as tracked by FEMA, between 1953 and 2018.</h3>
    <h4>Choose a date range, in years, by which to filter the data, as well the type of disaster.</h4>
    <form name="inputs" id="inputs">
      <label for="begin-year">Beginning range</label>
      <input type="number" id="begin" name="begin" min="1953" max="2018" placeholder="1953" required>
      <input type="number" id="end" name="end" min="1953" max="2018"placeholder="2018" required>
      <select name="type-of-disaster" id="type-of-disaster">
        <option value="Chemical">Chemical</option>
        <option value="Coastal Storm">Coastal Storm</option>
        <option value="Dam/Levee Break">Dam/Levee Break</option>
        <option value="Drought">Drought</option>
        <option value="Earthquake">Earthquake</option>
        <option value="Fire">Fire</option>
        <option value="Fishing Losses">Fishing Losses</option>
        <option value="Flood">Flood</option>
        <option value="Freezing">Freezing</option>
        <option value="Human Cause">Human Cause</option>
        <option value="Hurricane">Hurricane</option>
        <option value="Mud/Landslide">Mud/Landslide</option>
        <option value="Other">Other</option>
        <option value="Severe Ice Storm">Severe Ice Storm</option>
        <option value="Severe Storm(s)">Severe Storm(s)</option>
        <option value="Snow">Snow</option>
        <option value="Tornado">Tornado</option>
        <option value="Toxic Substances">Toxic Substances</option>
        <option value="Tsunami">Tsunami</option>
        <option value="Typhoon">Typhoon</option>
        <option value="Volcano">Volcano</option>
      </select>
      <input id="submit" type="button" value="Submit">
    </form>
   <br><br><br>
  </div>
  <div class="col-xs-2"></div>
</div>
<div id="map" style="width: 800; height: 540px;" align="justify"></div>

<script type=text/javascript src="./us-states.js"></script>

<script>
//TO DO: put accessToken into environment as variable and access through os so it doesn't get checked in publically.
  mapboxgl.accessToken = 'pk.eyJ1IjoiY2Fwcmlwb3QiLCJhIjoiY2pjMDJqcDhsMDQ2MzJ4bW85MTR0YXBzYiJ9.Ag9mIZTDONNN9JdN2kW76g';
  var map = new mapboxgl.Map({
    container: 'map',
    maxZoom: 5.5,
    minZoom: 1.8,
    style: 'mapbox://styles/mapbox/light-v9',
    center: [-115.36957574368233, 50.732480262447524],
    zoom: 2.850019725398168
  });

  map.on('load', function () {

    var layers = map.getStyle().layers;

    // Find the index of the first symbol layer in the map style
    var firstSymbolId;
    for (var i = 0; i < layers.length; i++) {
        if (layers[i].type === 'symbol') {
            firstSymbolId = layers[i].id;
            break;
        }
    }

    //defines data to be passed to server through ajax .get call
    //var formInputs = $(#inputs).serializeArray();
    //ajax call to api, then render map layers with new data as part of callback
    $('#submit').on('click', function(){
      window.theInputs = $('#inputs');      
      console.log( $('#inputs').serializeArray() );

      $.get('/api-call?' + $.param($('#inputs').serializeArray()), function(data, status){
        
        window.theData = data;
        console.log("Data coming back from api call: " + data + "\nStatus: " + status);
       //function to take the data we got back from the api call and plug incidents number into statesData as new density property value
        for (var i = 0; i < statesData['features'].length; i ++ ){
          feature = statesData['features'][i];
          // var stateName = feature['properties']['name']
          var stateName = feature.properties.name;
          feature.properties.numIncidents = data[stateName];
        }

        var statesLayer = map.addLayer({
          'id': 'us-states',
          'type': 'fill',
          'source': {
            type: 'geojson',
            data: statesData
          },
          'paint': {
            'fill-color': {
              //change density to number of climate disaster incidents.  Logic for extracting data from csv needs to add all the incidents within input ranges (date, type)
              //per state
              property: 'numIncidents',
              stops: [
                  [0, '#70F1FF'],
                  [10, '#56D7FF'],
                  [20, '#3DBEFF'],
                  [50, '#23A4FF'],
                  [100, '#0A8BE6'],
                  [200, '#0071CC'],
                  [500, '#0058B3'],
                  [1000, '#003E99']
              ]
            },
            'fill-opacity': 0.75
          }
        }, firstSymbolId);

      });

      map.on('click', 'us-states', function(e) {
        var coordinates = almostFlatten(e.features[0].geometry.coordinates);
        var bounds = new mapboxgl.LngLatBounds(coordinates[0], coordinates[0]);
        coordinates.forEach(function(coord) {
          bounds.extend(coord);
        })

        map.fitBounds(bounds, { padding: 100 });
      });


      function almostFlatten(arr) {
        return arr.reduce(function (flat, toFlatten) {
          return flat.concat(Array.isArray(toFlatten[0]) ? almostFlatten(toFlatten) : [toFlatten]);
        }, []);
      }
    });
  });
</script>


</body>
</html>
